<h1>Welcome to signin</h1>

<form action="/signup" method="post" id="form">
  Email:
  <input type="text" name="email" value="" size="25" maxlength="50" />
  Password:
  <input
    type="text"
    name="password"
    value=""
    size="25"
    maxlength="50"
    style="-webkit-text-security: circle"
  />

  <input type="submit" name="submit" value="sign up" />
</form>

<form action="/login" method="get" id="form">
  Existing users click here
  <input action="/login" type="submit" name="submit" value="go to login" />
</form>
